/* === SELECT === */

@use '../../../abstracts/_muk-tokens' as *
@use '../../../abstracts/_muk-mixins' as *


.muk-select
   display: flex
   flex-direction: column
   &__wrapper
      position: relative
   &__field
      @include muk-form-element()
      width: 100%
      cursor: pointer
   &__icon
      position: absolute
      right: 14px
      top: 50%
      transform: translateY(-50%)
      pointer-events: none
      font-size: 14px
      color: $muk-text-muted