/* === INPUT === */

@use '../../../abstracts/_muk-tokens' as *
@use '../../../abstracts/_muk-mixins' as *


.muk-input
   display: flex
   flex-direction: column
   &__wrapper
      position: relative
      display: flex
      flex-direction: row
      align-items: center
   &__field
      @include muk-form-element()
      width: 100%
   &__button 
      position: absolute
      right: 20px
      top: 0
      


// change calendar icon color 
input[type='date']::-webkit-calendar-picker-indicator 
   filter: invert(98%) sepia(1%) saturate(678%) hue-rotate(181deg) brightness(98%) contrast(94%)

/* === CodePen Home CSS filter generator to convert from black to target hex color === */
// ======>  https://codepen.io/sosuke/pen/Pjoqqp 