/* ==== HELPERS ==== */
@use '../abstracts/muk-mixins' as *
@use '../abstracts/muk-tokens' as *


/* ==== Skeleton shimmer ==== */
.muk-shimmer
   position: relative
   overflow: hidden

.muk-shimmer::before
   content: ''
   position: absolute
   top: 0
   left: -150px
   height: 100%
   width: 150px
   background: linear-gradient(to right, transparent 0%, $muk-text-muted 50%, transparent 100%)
   animation: loading 2.6s infinite

@keyframes loading
   0%
      left: -150px

   100%
      left: 100%

/* ================= TRANSITIONS =================  */
.fade-enter-active,
.fade-leave-active
   transition: opacity .25s ease

.fade-enter-from,
.fade-leave-to
   opacity: 0

.muk-pop-enter-active
  animation: muk-heart-bounce 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275)

.muk-pop-leave-active
  transition: opacity 0.1s ease, transform 0.1s ease
  opacity: 0
  transform: scale(0.5)

/***/
.visually-hidden
   position: absolute
   width: 1px
   height: 1px
   margin: -1px
   padding: 0
   overflow: hidden
   clip: rect(0, 0, 0, 0)
   white-space: nowrap
   border: 0

/* ==== Sections ==== */
.muk-section
   @include muk-container()
   &__item
      @include muk-content()
   &__actions

/* ================= PAGE / VIEW =================  */
.muk-page
   &__wrapper
      display: flex
      flex-direction: column
      min-height: 100vh
      min-height: 100dvh
   &__header
      flex: 0 0 auto
   &__content
      flex: 1 0 auto
   &__footer
      flex: 0 0 auto
