/* ================= ERROR STATE =================  */

@use '../../../abstracts/_muk-tokens' as *
@use '../../../abstracts/_muk-mixins' as *

   
.muk-error-state
   @include muk-border($muk-border-color: $muk-danger, $muk-border-style: dotted)
   display: flex
   flex-direction: column
   align-items: center
   justify-content: center
   text-align: center
   &__action
      display: flex
      justify-content: center